<ba-card cardTitle="Bienvenido al sistema SI-SAGA" baCardClass="with-scroll">
	<form class="form-horizontal">
		<div class="container-fluid">
			<div class="form-group row">
				<h4>Ingrese los datos para crear un usuario</h4>
			</div>
			<!-- Form group name for new user -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="shortnamenusr" class="control-label col-md-12">Nombre:</label>
					<div class="col-md-12">
						<input class="form-control" id="shortnamenusr" type="text" placeholder="Nombre">
					</div>
				</div>
				<!-- Form group lastname for new user -->
				<div class="form-group col-md-6">
					<label for="namenusr" class="control-label col-md-12">Apellido:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="namenusr" placeholder="Apellido">
					</div>
				</div>
			</div>
			<!-- Form group user for new user -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="usernusr" class="control-label col-md-12">Usuario:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="usernusr" placeholder="Usuario">
					</div>
				</div>
				<!-- Form group e-mail for new user -->
				<div class="form-group col-md-6">
					<label for="emailnusr" class="control-label col-md-12">Email:</label>
					<div class="col-md-12">
						<input type="email" class="form-control" id="emailnusr" placeholder="Email">
					</div>
				</div>
			</div>
			<!-- Form group rol for new user -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="rolnusr" class="control-label col-md-12">Rol:</label>
					<div class="col-md-12">
						
								<div class="form-group">
										
									<select  multiple class="form-control" id="exampleSelect2">
										
									  <option *ngFor = "let rolnu of roleTableData" [value] = "rolnu.name">{{rolnu.name}}</option>	
	
									 
									</select>
										  </div>
						
					</div>
				</div>
			</div>
			<!-- Form group bottond save, close for new user -->
			<div class="form-group row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
				</div>
				<div class="col-md-3">
				<modalsusers></modalsusers>
				</div>
			</div>
		</div>
	</form>
</ba-card>