<ba-card cardTitle="Bienvenido al sistema SI-SAGA" baCardClass="with-scroll">
	<form [formGroup]="form" no validate>
		<div class="container-fluid">
			<div class="form-group row">
				<h4>Ingrese los datos para crear un usuario</h4>
			</div>
			<!-- Form group name for new user -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="name" class="control-label col-md-12">Nombre:</label>
					<div class="col-md-12">
						<input class="form-control" id="name" name="name" type="text" placeholder="Nombre" formControlName="name">
						<div *ngIf="form.controls.name.errors && form.controls.name.dirty">
							<div *ngIf="form.controls.name.errors.required" class="alert alert-danger">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	El  campo es requerido
					</div>
					<div *ngIf="form.controls.name.errors.minlength" class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							El  campo mínimo es de 3 caracteres
											</div>	
											<div *ngIf="form.controls.name.errors.maxlength" class="alert alert-danger">
													<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													El  campo máximo es de 20 caracteres
																	</div>
				</div>
					</div>
				</div>
				<!-- Form group lastname for new user -->
				<div class="form-group col-md-6">
					<label for="lastname" class="control-label col-md-12">Apellido:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="lastname" placeholder="Apellido" formControlName="lastname">
						<div *ngIf="form.controls.lastname.errors && form.controls.lastname.dirty">
							<div *ngIf="form.controls.lastname.errors.required" class="alert alert-danger">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	El  campo es requerido
					</div>
					<div *ngIf="form.controls.lastname.errors.minlength" class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							El  campo mínimo es de 3 caracteres
											</div>	
											<div *ngIf="form.controls.lastname.errors.maxlength" class="alert alert-danger">
													<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													El  campo máximo es de 20 caracteres
																	</div>
				</div>
					</div>
				</div>
			</div>
			<!-- Form group user for new user -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="namuser" class="control-label col-md-12">Usuario:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="nameuser" name="nameuser" placeholder="Usuario" formControlName="nameuser">
						<div *ngIf="form.controls.nameuser.errors && form.controls.nameuser.dirty">
							<div *ngIf="form.controls.nameuser.errors.required" class="alert alert-danger">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	El  campo es requerido
					</div>
					<div *ngIf="form.controls.nameuer.errors.minlength" class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							El  campo mínimo es de 3 caracteres
											</div>	
											<div *ngIf="form.controls.nameuser.errors.maxlength" class="alert alert-danger">
													<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													El  campo máximo es de 20 caracteres
																	</div>
				</div>
					</div>
				</div>
				<!-- Form group e-mail for new user -->
				<div class="form-group col-md-6">
					<label for="email" class="control-label col-md-12">Email:</label>
					<div class="col-md-12">
						<input type="email" class="form-control" id="email" name="email" placeholder="Email" formControlName="email">
						<div *ngIf="form.controls.email.errors && form.controls.email.dirty">
							<div *ngIf="form.controls.email.errors.required" class="alert alert-danger">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	El  campo es requerido
					</div>
					<div *ngIf="form.controls.email.errors.email" class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							Validar Email
											</div>
				</div>
					</div>
				</div>
			</div>
			<!-- Form group rol for new user -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="idnrole" class="control-label col-md-12">Rol:</label>
					<div class="col-md-12">
						
								<div class="form-group">
										
									<select  multiple class="form-control text-center" id="idnrole" name="idnrole" formControlName="idnrole">
										
									  <option *ngFor = "let rol of roles" [value] = "rol.namerole" >{{rol.namerole}}</option>	
	
									 
									</select>
										  </div>
						
					</div>
				</div>
			</div>
			<!-- Form group bottond save, close for new user -->
			<div class="form-group row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
				</div>
				<div class="col-md-3">
				<modalsusers></modalsusers>
				</div>
			</div>
		</div>
	</form>
</ba-card>