<ba-card cardTitle="Bienvenido al sistema SI-SAGA" baCardClass="with-scroll">
	<form class="form-horizontal">
		<div class="container-fluid"> 
		
			<div class="form-group row">
				<h4>Ingrese los nuevos datos: </h4>
			</div>
			<!-- Form group ID in edit user  -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="idnuser" class="control-label col-md-12">ID:</label>
					<div class="col-md-12">
						<input class="form-control" id="idnuser" type="text" placeholder="ID"  name="idnuser" [(ngModel)]="user.idnuser" #idnuser="ngModel">
					</div>
			
				</div>
				<!-- Form group name in edit user  -->
				<div class="form-group col-md-6">
					<label for="name" class="control-label col-md-12">Nombre:</label>
					<div class="col-md-12">
						<input class="form-control" id="name" type="text" placeholder="nombre" name="name" [(ngModel)]="user.name" #name="ngModel" required  maxlength="20" minlength="3">
					</div>
					<div *ngIf="name.errors">
						<div *ngIf="name.touched && !name.valid" class="alert alert-danger" >
								
								<strong>Warning!</strong>Campo requerido.
									  
					</div>
					<div *ngIf="!name.validator.minlength && name.touched" class="alert alert-danger ">
							<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
						</div>
	
					</div>
				</div>
			</div>
			<!-- Form group lastname in edit user  -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="lastname" class="control-label col-md-12">Apellido:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="lastname" placeholder="apellido" name="lastname" [(ngModel)]="user.lastname" #lastname="ngModel" required  maxlength="20" minlength="3">
					</div>
					<div *ngIf="lastname.errors">
						<div *ngIf="lastname.touched && !lastname.valid" class="alert alert-danger" >
								
								<strong>Warning!</strong>Campo requerido.
									  
					</div>
					<div *ngIf="!lastname.validator.minlength && lastname.touched" class="alert alert-danger ">
							<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
						</div>
	
					</div>
				</div>
				<!-- Form group user in edit user  -->
				<div class="form-group col-md-6">
					<label for="nameuser" class="control-label col-md-12">Usuario:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="nameuser" placeholder="usuario" name="nameuser" [(ngModel)]="user.nameuser" #nameuser="ngModel" required  maxlength="20" minlength="3">
					</div>
					<div *ngIf="nameuser.errors">
						<div *ngIf="nameuser.touched && !nameuser.valid" class="alert alert-danger" >
								
								<strong>Warning!</strong>Campo requerido.
									  
					</div>
					<div *ngIf="!nameuser.validator.minlength && nameuser.touched" class="alert alert-danger ">
							<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
						</div>
					</div>
				</div>
			</div>
			<!-- Form group email in edit user  -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="emai" class="control-label col-md-12">Email:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="email" placeholder="e-mail" name="email" [(ngModel)]="user.email" #email="ngModel" required >
					</div>
					<div *ngIf="email.errors">
						<div *ngIf="!email.valid && email.touched"  class="alert alert-danger" >
								
								<strong>Warning!</strong>Verifique Email
									  
					</div>	
					
					</div>
				</div>
				<!-- Form group Rol in edit user -->
				<div class="form-group  col-md-6">
					<label for="role" class="control-label col-md-12">Rol:</label>
					<div class="col-md-12">
							<div class="form-group">
									
										<select  class="form-control" id="idnrole" name="idnrole" [(ngModel)]="user.idnrole" #idnrole="ngModel" >
											<option *ngFor = "let role of roles" [value] = "1">{{role.namerole}}</option>
										</select>
									  </div>
					</div>
				</div>
			</div>
			<!-- Form group buttons save, close in edit user -->
			<div class="form-group row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
				</div>
				<div class="col-md-3">
					
					<button class="btn btn-primary" (click)="updateUser()" >Guardar</button>	
					
	
					<button class="btn btn-success" >Cancelar</button>
				</div>
			</div>
			
		</div>

	</form>
</ba-card>