<ba-card cardTitle="Bienvenido al sistema SI-SAGA" baCardClass="with-scroll">
	<form class="form-horizontal">
		<div class="container-fluid">
			<div class="form-group row">
				<h4>Buscar usuario para editar </h4>
			</div>
			<!-- Tab Panel for edit user -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<!-- Form group ID in edit user (find) -->
					<label for="ideusrfind" class="control-label col-md-12">ID:</label>
					<div class="col-md-12">
							<div class="form-group">
									
										<select  class="form-control" id="exampleSelect2">
											<option *ngFor = "let id of users" [value] = "id.idnuser">{{id.idnuser}}</option>
										 
										</select>
									  </div>
					</div>
				</div>
				<!-- Form group name in edit user (find) -->
				<div class="form-group col-md-6">
					<label for="nameeusrfind" class="control-label col-md-12">Usuario:</label>
					<div class="col-md-12">
							<div class="form-group">
									
										<select class="form-control" id="exampleSelect2">
											<option *ngFor = "let user of users" [value] = "user.nameuser">{{user.nameuser}}</option>
										 
										</select>
									  </div>
					</div>
				</div>
			</div>
			<div class="box-shadow-border"></div>
			<br>
			<div class="form-group row">
				<h4>Ingrese los nuevos datos: </h4>
			</div>
			<!-- Form group ID in edit user  -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="ideusr" class="control-label col-md-12">ID:</label>
					<div class="col-md-12">
						<input class="form-control" id="ideusr" type="text" placeholder="01" readonly/>
					</div>
				</div>
				<!-- Form group name in edit user  -->
				<div class="form-group col-md-6">
					<label for="nameeusr" class="control-label col-md-12">Nombre:</label>
					<div class="col-md-12">
						<input class="form-control" id="nameeusr" type="text" placeholder="Juan">
					</div>
				</div>
			</div>
			<!-- Form group lastname in edit user  -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="lastnameeusr" class="control-label col-md-12">Apellido:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="lastnameeusr" placeholder="Macias">
					</div>
				</div>
				<!-- Form group user in edit user  -->
				<div class="form-group col-md-6">
					<label for="usereusr" class="control-label col-md-12">Usuario:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="usereusr" placeholder="juanjo10">
					</div>
				</div>
			</div>
			<!-- Form group email in edit user  -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="emaileusr" class="control-label col-md-12">Email:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="emaileusr" placeholder="juanjo10@gmail.com">
					</div>
				</div>
				<!-- Form group Rol in edit user -->
				<div class="form-group  col-md-6">
					<label for="roleusr" class="control-label col-md-12">Rol:</label>
					<div class="col-md-12">
							<div class="form-group">
									
										<select  class="form-control" id="exampleSelect2">
											<option *ngFor = "let role of roles" [value] = "role.namerole">{{role.namerole}}</option>
										</select>
									  </div>
					</div>
				</div>
			</div>
			<!-- Form group buttons save, close in edit user -->
			<div class="form-group row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
				</div>
				<div class="col-md-3">
					<modalsusers></modalsusers>
				</div>
			</div>
		</div>
	</form>
</ba-card>