<ba-card cardTitle="Bienvenido al sistema SI-SAGA" baCardClass="with-scroll">
	<form class="form-horizontal">
		<div class="container-fluid">
			<div class="form-group row">
				<h4>Ingrese los datos para crear un proyecto raíz </h4>
			</div>
			<!-- Form group short name new project -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="shortname" class="control-label col-md-12">Nombre Corto:</label>
					<div class="col-md-12">
						<input class="form-control" id="shortname" name="shortname" type="text" placeholder="Nombre Corto" 
						[(ngModel)]="project.shortname"  #shortname="ngModel" required  maxlength="20" minlength="3">
						<div *ngIf="shortname.errors">
							<div *ngIf="shortname.touched && !shortname.valid" class="alert alert-danger" >
									
									<strong>Warning!</strong>Campo requerido.
										  
						</div>
						<div *ngIf="!shortname.validator.minlength && shortname.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
		
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="name" class="control-label col-md-12">Nombre:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" name="name" id="name" placeholder="Nombre" 
						[(ngModel)]="project.name"  #name="ngModel" required  maxlength="20" minlength="3">
						<div *ngIf="name.errors">
							<div *ngIf="name.touched && !name.valid" class="alert alert-danger" >
									
									<strong>Warning!</strong>Campo requerido.
										  
						</div>
						<div *ngIf="!name.validator.minlength && name.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
		
						</div>
					</div>
				</div>
			</div>
			<!-- Form group description new project -->
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="description" class="control-label col-md-12">Descripción:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" name="description" id="description" placeholder="Descripción" 
						[(ngModel)]="project.description"  #description="ngModel" required  maxlength="50" minlength="3">
						<div *ngIf="description.errors">
							<div *ngIf="description.touched && !description.valid" class="alert alert-danger" >
									
									<strong>Warning!</strong>Campo requerido.
										  
						</div>
						<div *ngIf="!description.validator.minlength && description.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
		
						</div>
					</div>
				</div>
				<div class="form-group col-md-6 ">
					
						<label for="creationdate" class="control-label col-md-12">Fecha de Creación:</label>
						<div class="col-md-12">
							<div class="input-group date">
								<my-date-picker name="creationdate" [options]="myDatePickerOptions"
								[(ngModel)]="project.creationdate" required></my-date-picker>
							</div>
						</div>
			
				</div>
			</div>
			<!-- Form group author for new project -->
			<div class="form-group row ">
				<div class="form-group col-md-6">
					<label for="idnauthor" class="control-label col-md-12">Autor:</label>
					<div class="col-md-12">
							<div  class="form-group">
								
									<select  class="form-control" id="idnauthor" name="idnauthor" 
									[(ngModel)]="author.idnauthor"  #idnauthor="ngModel" required>
										
									  <option *ngFor = "let author of authors" [value] = "author.name">{{author.name}}</option>	

									 
									</select>
									<div *ngIf="idnauthor.errors">
										<div *ngIf="idnauthor.touched && !idnauthor.valid" class="alert alert-danger" >
												
												<strong>Warning!</strong>Campo requerido.
													  
									</div>
								
					
									</div>
								  </div>
								
					</div>
				</div>
				<!-- Form group for label in new project -->
				<div class="form-group col-md-6">
					<label for="idnprjtype" class="control-label col-md-12">Tipo Proyecto:</label>
					<div class="col-md-12">
							<div class="form-group">
									
								<select class="form-control" id="idnprjtype" name="idnprjtype" 
								[(ngModel)]="author.idnprjtyp"  #idnprjtype="ngModel" required>
									
								  <option *ngFor = "let typeProject of typeProjects" [value] = "typeProject.name">{{typeProject.name}}</option>	

								 
								</select>
								<div *ngIf="idnprjtype.errors">
									<div *ngIf="idnprjtype.touched && !idnprjtype.valid" class="alert alert-danger" >
											
											<strong>Warning!</strong>Campo requerido.
												  
								</div>
							
				
								</div>
								  </div>
								
					</div>
				</div>
			</div>
			<!-- Form group bottons document, save, close in new project -->
			<div class="form-group row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<button class="btn btn-primary" >Subproyecto</button>	
					
					<button class="btn btn-success" (click)="saveProject()" >Guardar</button>
					<button class="btn btn-info" >Cancelar</button>
				</div>
			
			
			</div>
		

		</div>

	</form>
</ba-card>